<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @instructor.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @instructor.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @instructor.mobile %>
</p>
<br>


<table>
  <caption style="text-align:centre"><h3>Linked Clients</h3></caption>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructor.clients.each do |client| %>
      <tr>
        <td><%= client.firstname %></td>
        <td><%= client.lastname %></td>
        <td><%= client.email %></td>
        <td><%= client.mobile %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
