<%= form_with(model: client) do |form| %>
    <% if client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
  
        <ul>
          <% client.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :firstname %>
      <%= form.text_field :firstname %>
    </div>
  
    <div class="field">
      <%= form.label :lastname %>
      <%= form.text_field :lastname %>
    </div>
  
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  
    <div class="field">
      <%= form.label :mobile %>
      <%= form.number_field :mobile %>
    </div>
  
    <div class="field">
      <%= form.label :sex %>
      <%= form.text_field :sex %>
    </div>
  
    <div class="field">
      <%= form.label :weight %>
      <%= form.number_field :weight %>
    </div>
  
    <div class="field">
      <%= form.label :height %>
      <%= form.number_field :height %>
    </div>
  
    <div class="field">
      <%= form.label :dob %>
      <%= form.date_select :dob, :start_year => Date.current.year, :end_year => 1900 %>
    </div>
  
    <div class="field">
        <%= form.label :Instructor %>
        <%= form.collection_select :instructor_id, Instructor.all, :id, :name, :prompt => 'Select Instructor' %>
    </div>

    <div class="field">
        <%= form.label :workouts %>
        <%= form.collection_check_boxes :workout_ids, Workout.all, :id, :name %>
    </div>
  
  
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  