<p id="notice"><%= notice %></p>

<% if user_id = session[:user_id] %>
  <h1>Welcome <%= @user.name -%></h1>
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <% end %>

  <p><%= link_to 'Instructors Index', instructors_path %></p>
  <p><%= link_to 'Clients Index', clients_path %></p>
  <p><%= link_to 'Exercise Index', exercises_path %></p>
  <p><%= link_to 'Workout Index', workouts_path %></p>



<% else %>
  <p>You are not logged in. You can browse the Exercise and workout index's or login to view all data below.</p>
  <br>
  <p><%= link_to 'Exercise Index', exercises_path %></p>
  <p><%= link_to 'Workout Index', workouts_path %></p>
  <br>
  <p>Try <%= link_to 'Login/Signup with manual account', '/login'%>.</p>
  <p>Or</p>
  <p>Try <%= link_to 'Signing in with the GitHub account', '/auth/github',method: :post%>.</p>
<% end %>